<section id="nav-bar" class="fluid-container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="" class="navbar-brand"> <img src="img/logo.png" alt="" class="img-fluid"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
             <a data-toggle="modal"  class="nav-link" ><strong> Hi, <%= renderUser.name %>
             </strong></a>
            </li>
            <li class="nav-item">
              <a href="/dashboard" class="nav-link"><i class="fa-solid fa-user"></i> Dashboard</a>
            </li>
            <li class="nav-item">
              <a  href="/logout" class="nav-link"><i class="fa-solid fa-right-to-bracket"></i>Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </section>





















